@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dvvveb');
  src:  url('fonts/icomoon.eot?dvvveb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dvvveb') format('truetype'),
    url('fonts/icomoon.woff?dvvveb') format('woff'),
    url('fonts/icomoon.svg?dvvveb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e913";
}
.icon-instagram:before {
  content: "\e914";
}
.icon-phone-call:before {
  content: "\e915";
}
.icon-youtube2:before {
  content: "\e916";
}
.icon-logout:before {
  content: "\e912";
}
.icon-agenda:before {
  content: "\e90d";
}
.icon-flecha-left:before {
  content: "\e90e";
}
.icon-flecha-right:before {
  content: "\e90f";
}
.icon-reloj:before {
  content: "\e910";
}
.icon-terminos:before {
  content: "\e911";
}
.icon-cel:before {
  content: "\e900";
}
.icon-encender:before {
  content: "\e901";
}
.icon-lupa:before {
  content: "\e902";
}
.icon-mundo:before {
  content: "\e903";
}
.icon-correo:before {
  content: "\e904";
}
.icon-pin:before {
  content: "\e905";
}
.icon-calendario:before {
  content: "\e906";
}
.icon-subir:before {
  content: "\e907";
}
.icon-tuerca:before {
  content: "\e908";
}
.icon-eliminar:before {
  content: "\e909";
}
.icon-cuadros:before {
  content: "\e90a";
}
.icon-libreta:before {
  content: "\e90b";
}
.icon-carrito:before {
  content: "\e90c";
}
.icon-staff:before {
  content: "\e60e";
}
.icon-envelope:before {
  content: "\e61d";
}
.icon-close:before {
  content: "\e605";
}
.icon-social-facebook:before {
  content: "\e603";
}
.icon-social-twitter:before {
  content: "\e604";
}
.icon-menu:before {
  content: "\e602";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-down:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
.icon-search:before {
  content: "\e612";
}
.icon-location:before {
  content: "\e600";
}
.icon-phone:before {
  content: "\e60a";
  color: #444;
}
.icon-youtube:before {
  content: "\e601";
}
