.footer
	background-color: #f9f9f9
.foter__box__wrap
	max-width: 1200px
	margin: auto
	padding-left: 15px
	padding-right: 15px
.footer__item__box
	display: flex
	justify-content: space-between
.footer__item
	display: flex
	h3
		font-size: 18px
		color: #4a4a4a
		margin: auto
.footer__redes__icon
	display: flex
.footer__icon
	padding-right: 41px
	&:last-child
		padding-right: 0
.footer__number
	padding-right: 30px
	h3
		margin: auto
		font-size: 18px
		color: #4a4a4a
	&:last-child
		padding-right: 0
.footer__sub__container
	display: flex
	justify-content: space-between
	padding-top: 16px
	padding-left: 15px
	padding-bottom: 20px
	padding-right: 15px
	border-top: 1px solid #9b9b9b
	justify-content: space-between
.footer__item__box
	padding-bottom: 27px
	padding-top: 10px
.footer__sub__container
	.footer__item
		h3
			color: #9b9b9b
			font-size: 14px
			font-family: $t-1 	
.footer__redes__icon
	.footer__icon
		a
				transition: all 450ms ease
				color: #4a4a4a
		&:hover
			a
				color: #ec5917
@media screen and (max-width: 980px)
	.footer__item h3
		font-size: 16px
	.footer__icon
		padding-right: 10px
@media screen and (max-width: 720px)
	.footer__item__box
		flex-direction: column
		align-items: center
	.footer__item
		flex-direction: column
	.footer__number
		padding-right: 0
	.footer__item
		padding-bottom: 10px
	.footer__number
		padding-bottom: 10px
		&:last-child
			padding-bottom: 0
@media screen and (max-width: 550px)
	.footer__sub__container
		flex-direction: column
	.footer__item__box
		padding-top: 20px


