// body-class
.header-none
	.header-wrap
		display: none


.div-example
	height: 2000px
	width: 100%
	background: red 

.header-wrap
	position: relative

.header-fixed
	position: fixed
	top: 0px
	left: 0
	width: 100%
	height: 80px
	z-index: 1000
	background: transparent
	transition: all .2s linear

.header-bg
	position: absolute
	left: 0
	width: 100%
	height: 100%
	background: $blanco
	top: -100%
	transition: all .2s linear

.header-fixed.scrolling
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1)
	height: 64px
	.header-bg
		top: 0
	.header-languages-select select
		color: $c-2
	.header-languages-select:before
		color: $c-2
	.header-logo-desktop
		opacity: 0
		visibility: hidden
	.header-logo-scroll
		width: 80%
		opacity: 1
		visibility: visible

.header-cnt
	display: flex
	background-color: white
	height: 100%
	align-items: center
	justify-content: space-between
	// justify-content: flex-end
	flex-direction: row
	margin: auto
	// padding: 0 20px 
	position: relative
	box-sizing: border-box

// header logo
.header-logo
	max-width: 294px
	position: absolute
	top: 0
	left: 0
	img 
		display: block
		height: auto
		width: 100%
	.header-logo-desktop
		opacity: 1
		visibility: visible
	.header-logo-scroll
		opacity: 0
		visibility: hidden
		position: absolute
		top: 0
		left: 0
		margin: auto
		transition: all .2s linear
.header-cnt-list
	display: flex
	padding-left: 355px
.header-cnt-contacto
	display: flex
	align-items: center
	justify-content: center
	.header__button
		background-color: #ec5917
		padding-right: 44px
		padding-top: 37px
		padding-bottom: 27px
		padding-left: 34px
		h3
			color: white
			font-size: 16px
			font-family: $t-1
			font-weight: bold
			margin: auto
	.header__telf
		display: flex
		padding-right: 35px
		a
			display: flex
		h3
			margin: auto
			font-size: 20px
			font-family: $t-1
			font-weight: bold
			color: #4a4a4a
		span
			color: #ec5917
			padding-right: 9px
			font-weight: bold
			font-size: 16px
			font-family: $t-2
.header-cnt-contacto
	a
		color: white
// header list
.header-list
	display: flex
	.header-item
		display: inline-block
		margin-right: 50px
		&:last-child
			margin-right: 0
	.header-item
		font-size: 16px
		font-family: $t-2
		color: red
		span
			color: #ec5917
			font-size: 16px
			font-family: $t-2
			font-weight: bold
	.header-link
		display: inline-block
		vertical-align: middle
		box-sizing: border-box
		color: #4a4a4a
		font-size: 15px
		line-height: 15px
		font-family: $t-4
		text-decoration: inherit
		position: relative
		padding-bottom: 7px
		margin-top: 7px
		transition: all .35s ease-in-out

		&:before
			content: ""
			display: block
			position: absolute
			bottom: 0
			left: 0
			width: 0
			height: 2px
			background: $c-0
			transition: all .35s ease-in-out

	//hover
	.header-link:hover
		color: #ec5917
		text-decoration: inherit !important
		&:before
			width: 70%

	//active
	.header-link.active
		color: #ec5917
		text-decoration: inherit

//hover & active with class scrolling
.header-fixed.scrolling
	.header-link:hover
		color: #ec5917
		text-decoration: inherit !important
		&:before
			width: 70%
	.header-link.active
		color: #ec5917
		text-decoration: inherit
	.header-cnt-contacto
		.header__button
			padding-top: 24px
			padding-bottom: 25px



//languages
.header-languages
	padding-left: 20px
	position: relative
	&:before 
		content: ""
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 3px
		background: $c-0

.header-languages-select
	position: relative
	display: inline-block
	cursor: pointer
	select 
		width: 80px
		border: none
		border-radius: none
		background: none 
		color: $blanco
		font-family: $t-0
		font-size: 13px
		appearance: none
		box-sizing: border-box
		cursor: pointer
	option 
		color: $c-0 
	&:before 
		display: block
		content: "\e608"
		font-family: icomoon
		position: absolute
		top: 0px
		right: 0
		color: $blanco
		font-size: 17px
		pointer-events: none

// menu responsive
.menu-sidebar
	position: fixed
	top: 0
	right: 0
	width: 250px
	height: 100%
	overflow-y: auto
	background: $blanco
	z-index: 1500
	right: -250px
	transition: all .3s ease-in-out
	padding: 5px 0 20px 0

.menu-sidebar.active
	right: 0

.header-menu-overlay
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: $negro
	opacity: 0
	visibility: hidden
	z-index: -1
	transition: all .3s ease-in-out

.header-menu-overlay.active
	opacity: .6
	visibility: visible
	z-index: 1400

.menu-sidebar
	.header-cnt-contacto
		display: block
		padding-top: 25px
	.menu-responsive
		display: block
		margin-top: 20px
	.header-item
		display: block
	.header-link 
		display: block
		padding-left: 30px
		font-size: 14px
		height: 45px
		line-height: 45px
		color: #7e7e7e
		text-decoration: inherit
	.header-languages-select
		padding-left: 30px
		margin-top: 20px
	.header-languages-select select
		color: $c-0 
		font-size: 14px
		width: 90px
	.header-languages-select:before
		color: $c-0

.menu-sidebar
	.header-link.active 
		background: $c-0
		color: $blanco 


.responsive-logo
	display: block
	width: 60%
	margin: auto
	margin-top: 20px
	img 
		display: block
		width: 100%
		height: auto
	.header-logo-desktop
		display: none
	.header-logo-scroll
		display: block

.menu-mobile-close, .menu-mobile-open
	background: $c-0
	border-radius: 7%
	color: $blanco
	cursor: pointer
	font-size: 23px
	height: 35px
	width: 35px
	line-height: 35px
	position: fixed
	right: 10px
	text-align: center
	top: 10px
	transition: all 0.3s ease-in-out
	transform: rotate(0deg)
	display: none

.menu-mobile-open
	opacity: 1
	visibility: visible
	z-index: 1040

.menu-mobile-open.active
	visibility: hidden
	opacity: 0
	z-index: 1000
	transform: rotate(-90deg)

.menu-mobile-close
	opacity: 0
	visibility: hidden
	z-index: 1000
	background: $c-0
	color: $blanco

.menu-mobile-close.active
	visibility: visible
	opacity: 1
	right: 260px
	z-index: 1500
	transform: rotate(-90deg)

body.active
	overflow: hidden
@media screen and (max-width: 1200px)
	.header-logo
		max-width: 220px
	.header-cnt-list
		padding-left: 245px
	.header-fixed
		height: 60px
	.header-cnt-contacto .header__button
		padding-right: 30px
		padding-top: 26px;
		padding-bottom: 17px
		padding-left: 26px
	.header-cnt-contacto .header__telf h3
		font-size: 14px
	.header-fixed.scrolling .header-logo-scroll
		width: 100%
	.header-fixed.scrolling
		height: 60px
	.header-fixed.scrolling .header-cnt-contacto .header__button
		padding-bottom: 20px
@media screen and (max-width: 1024px)
	//media query header
	.header-cnt-list
		display: none
	.header-cnt-contacto
		display: none
	// .header-languages
	// 	display: none
	.header-fixed
		height: 60px
	.header-fixed.scrolling .header-logo-scroll
		width: 100%
	.header-cnt-contacto 
		.header__telf
			span
				margin-right: 0
		.header__telf
			h3
				margin-left: 0
	.header-fixed.scrolling .header-logo
		max-width: 220px
	.header__button
		text-align: center
	.header-logo
		max-width: 220px
	.header-cnt-contacto
		flex-direction: column
		.header__telf
			padding-bottom: 20px
	.header-cnt-contacto 
		.header__telf
			padding-right: inherit
			display: flex
			text-align: inherit

	
	// .header-logo .header-logo-desktop
	// 	opacity: 0
	// 	visibility: visible

	// .header-logo .header-logo-scroll
	// 	opacity: 1
	// 	visibility: visible
	
	// .header-bg
	// 	top: 0

	.menu-mobile-close, .menu-mobile-open
		display: block

	.header-fixed.scrolling
		height: 60px
	
// @media screen and (max-width: 640px)
// 	.responsive-logo
// 		display: none
