footer.footer(role='contentinfo')
  section.footer
    .footer__box__container
      .foter__box__wrap
        .footer__item__box
          .footer__item
            a(href="mailto:informes@grupoverones.com")
              h3 informes@grupoverones.com
          .footer__item
            .footer__number
              a(href="tel:01984 577 822")
                h3 (+51) 984 577 822
            .footer__number
              a(href="https://www.google.com/maps/place/Av.+Cerros+de+Camacho+19,+Cercado+de+Lima+15023/@-12.0914245,-76.9671466,17z/data=!3m1!4b1!4m5!3m4!1s0x9105c7a839811481:0x6677d36ecff27a75!8m2!3d-12.0914245!4d-76.9649579")
                h3 Av. Caminos del Inca 352 - Surco
          .footer__item
            .footer__redes__icon
              .footer__icon
                a(href="  ")
                    span.icon-facebook.icono-foot
              .footer__icon
                a(href="  ")
                    span.icon-youtube2.icono-foot
              .footer__icon
                a(href="  ")
                    span.icon-instagram.icono-foot
    .footer__sub__container
      .footer__sub__box
        .footer__item
          h3 AlthumGolf - Todos los derechos reservados
      .footer__sub__box
        .footer__item
          h3 Diseño web StaffDigital