//- body classs

.header-wrap
	.header-fixed
		.header-bg
		.header-cnt
			a.header-logo.menu_a1.miclase.h-link-item.h-link-ancla(data-url='/inicio/',href="#inicio",data-title='inicio')
				img.header-logo-desktop(src=`${STATIC_URL}img/logo.png`, alt="")
				img.header-logo-scroll(src=`${STATIC_URL}img/logo.png`, alt="")
			.header-cnt-list
				ul.header-list
					li.header-item
						a.header-link.menu_a1.miclase.h-link-item.h-link-ancla.active(data-url='/inicio/',href="#nosotros",data-title='inicio')
							span 01 
							| INICIO
					li.header-item
						a.header-link.menu_a2.miclase.h-link-item.h-link-ancla(data-url='/galeria/',href="#galeria",data-title='galeria')
							span 02 
							| GALERÍA
					li.header-item
						a.header-link.menu_a3.miclase.h-link-item.h-link-ancla(data-url='/contacto/',href="#contacto",data-title='contacto')
							span 03 
							| PLANOS
			.header-cnt-contacto
				.header__telf
					a(href="tel:(01) 517 7373")
						span.icon-phone-call
						h3 (01) 517 7373
				a.menu_a3.miclase.h-link-item.h-link-ancla(data-url='/contacto/',href="#contacto",data-title='contacto')
					.header__button
							h3 ¡CONTÁCTANOS!



//- header menu responsive
.menu-mobile-open.icon-menu
.menu-mobile-close.icon-close

.header-menu-overlay
.menu-sidebar
	.menu-sidebar-cnt