extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/fancy-full/lightgallery.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/fancy-full/lg-fb-comment-box.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/fancy-full/lg-transitions.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)
//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.banner__slider#inicio
		.banner__wrapp
			ul.banner__home__box
				li.banner__home__item(style=`background-image: url(${STATIC_URL}img/banner-home.png)`)
					.banner__home__text
						h3  VISTA PANORÁMICA DEL GOLF LOS INCAS
						h2 Disfruta la mejor vista panorámica de la ciudad
				li.banner__home__item(style=`background-image: url(${STATIC_URL}img/banner-home.png)`)
					.banner__home__text
						h3  VISTA PANORÁMICA DEL GOLF LOS INCAS
						h2 Disfruta la mejor vista panorámica de la ciudad
	section.dormitorios#nosotros
		.dormitorios__wrap
			.dormitorios__box__content
				.dormitorios__number
					h2 01
				.dormitorios__box__responsive
					.dormitorios__number--responsive
						h2 01
					.dormitorio__count__responsive
						.text_genral
							h2 01, 03 y 04 
							h3 dormitorios
				.dormitorios__text
					p Althum Golf II es un exclusivo proyecto ubicado en una de las mejores zonas de cuidad: Los Cerros de Camacho - Surco. Su ubicación le permitirá poder disfrutar de una maravillosa vista al Club el Golf Los Inkas. Además, gracias a su excelente ubicación, podrá tener la mejor vista panorámica de la ciudad a cualquier hora del día en una de las zonas más seguras y confortables para vivir de Lima. El edificio está compuesto por 47 departamentos tipo Flat, Loft, Duplex y Penthouse que van desde los 111 m2 hasta los 600 m2. Cuenta con 20 pisos.
				.dormitorios__count
					.text_genral
						h2 01, 03 y 04 
						h3 dormitorios
	section.proyecto__distinto
		.dormitorios__wrap
			.proyecto__distinto__cont
				.proyecto__distinto__title
					.text_genral
							h2 Un proyecto
							h3 distinto
				.proyecto__distinto__contenedor
					.proyecto__distinto__content
						.proyecto__distinto__img
							img(src=`${STATIC_URL}img/vision-img.png`, alt="")
						.proyecto__distinto__content__text
							h3 Vista Panorámica de la ciudad todo el año
					.proyecto__distinto__content
						.proyecto__distinto__img
							img(src=`${STATIC_URL}img/compromiso-img.jpg`, alt="")
						.proyecto__distinto__content__text
							h3 Vista al Club El Golf 
					.proyecto__distinto__content
						.proyecto__distinto__img
							img(src=`${STATIC_URL}img/compromiso-img.png`, alt="")

						.proyecto__distinto__content__text
							h3 Zona segura y de bajo tránsito (tranqueras)
	section.establecimientos__principales
		.establecimiento__content
			.establecimiento__box__info
				.establecimientos__bgc
					.establecimiento__bgc__ubicacion(style=`background-image: url(${STATIC_URL}img/bgc-edificio.png)`)
						.estacionamiento__button
							a(href="").map__general--open--map
								.btn__general
									h3 Ver ubicacion
				
				.establecimiento__text__info
					.establecimiento__text__content__info
						.establecimiento__text__tittle
							.text_genral
								h2 Cerca a los principales
								h3 establecimientos
						.establecimiento__texto__parrafo
							p Universidad de Lima, CC Jockey Plaza, Wong de Camacho, Colegio Recoleta, CC El Polo, Av. La Fontana
						.establecimiento__img__principales
							.establicimiento__img__item
								img(src=`${STATIC_URL}img/logo-1.png`, alt="")
							.establicimiento__img__item
								img(src=`${STATIC_URL}img/logo-2.png`, alt="")
							.establicimiento__img__item
								img(src=`${STATIC_URL}img/logo-3.png`, alt="")
							.establicimiento__img__item
								img(src=`${STATIC_URL}img/logo-4.png`, alt="")
							.establicimiento__img__item
								img(src=`${STATIC_URL}img/logo-5.png`, alt="")
				.establecimientos__button--responsive
					a(href="").map__general--open--map
						.btn__general
							h3 Ver ubicacion
	section.destalles__espacio#galeria
		.dormitorios__wrap
			.detalles__espacio__content#aniimated__thumbnials
				.detalles__espacio__box__info.detalles__espacio__box__info--text
					.detalles__espacio__title
						.detalles__espacio__numer
							h2 02
						.detalles__espacio__text
							.text_genral
								h2 Más detalles
								h3 de tu nuevo espacio
					.detalles__espacio__parrafos
						ul.detalles__espacio__box__text
							li.dealles__espacio__box__text Flats desde 274 m2 hasta 330 m2
							li.dealles__espacio__box__text Lofts de 111 m2
							li.dealles__espacio__box__text (02) Penthouses de 831 y 855 m2 cada uno
							li.dealles__espacio__box__text Moderno Lobby de ingreso
							li.dealles__espacio__box__text Amplios estacionamientos
							li.dealles__espacio__box__text Cocheras de visita (10)
							li.dealles__espacio__box__text Zona de parrilla
							li.dealles__espacio__box__text Piscina
							li.dealles__espacio__box__text Gimnasio
							li.dealles__espacio__box__text Área de reuniones
					.detalles__espacio__box
						a(href=`${STATIC_URL}img/detalles-espacio-img1.png`, style=`background-image: url(${STATIC_URL}img/detalles-espacio-img1.png)`).detalles__espacio__img.detalles__espacio--img1
						a(href=`${STATIC_URL}img/detalles-espacio-img2.png`, style=`background-image: url(${STATIC_URL}img/detalles-espacio-img2.png)`).detalles__espacio__img.detalles__espacio--img2
				.detalles__espacio__box__info.detalles__espacio__box__info--img
					.detalles__espacio__box__info--img
						a(href=`${STATIC_URL}img/detalles-espacio-img3.png`, style=`background-image: url(${STATIC_URL}img/detalles-espacio-img3.png)`).detalles__espacio__img.detalles__espacio--img3
						a(href=`${STATIC_URL}img/detalles-espacio-img4.png`, style=`background-image: url(${STATIC_URL}img/detalles-espacio-img4.png)`).detalles__espacio__img.detalles__espacio--img4
						a(href=`${STATIC_URL}img/detalles-espacio-img5.png`, style=`background-image: url(${STATIC_URL}img/detalles-espacio-img5.png)`).detalles__espacio__img.detalles__espacio--img5
							.detalles__gallery
								span
									.btn__general
										h3 Ver ubicacion
			.detalles__espacio__box__slider
				ul.detalles__box__slider#aniimated__thumbnials2
					li
						a(href=`${STATIC_URL}img/detalles-espacio-img1.png`, style=`background-image: url(${STATIC_URL}img/detalles-espacio-img1.png)`).detalles__box__item
					li
						a(href=`${STATIC_URL}img/detalles-espacio-img2.png`, style=`background-image: url(${STATIC_URL}img/detalles-espacio-img2.png)`).detalles__box__item
					li
						a(href=`${STATIC_URL}img/detalles-espacio-img3.png`, style=`background-image: url(${STATIC_URL}img/detalles-espacio-img3.png)`).detalles__box__item
					li
						a(href=`${STATIC_URL}img/detalles-espacio-img4.png`, style=`background-image: url(${STATIC_URL}img/detalles-espacio-img4.png)`).detalles__box__item
					li
						a(href=`${STATIC_URL}img/detalles-espacio-img5.png`, style=`background-image: url(${STATIC_URL}img/detalles-espacio-img5.png)`).detalles__box__item
	section.tours__virtual
		.dormitorios__wrap
			.tours__virtual__content
				.tours__virtual__item
					.tours__virtual__box
						.tours__virtual__icon
							img(src=`${STATIC_URL}img/logo-planeta.png`, alt="")
						.tours__virtual__title
							.text_genral
								h2 01, 03 y 04 
								h3 dormitorios
				.tours__virtual__item
					.tours__virtual__box__text
							h3 ¡Organiza todo 
								br
								| en un LOFT!
							a(href="")
								span VER TOUR 
				.tours__virtual__item
					.tours__virtual__box__text
							h3 ¡Disfruta la amplitud
								br 
								| de un FLAT!
							a(href="")
								span VER TOUR
	section.contacto#contacto
		.dormitorios__wrap
			.contato__title__responsive
				.detalles__espacio__numer
					h2 03
				.detalles__espacio__title
					.text_genral
						h2 01, 03 y 04 
						h3 dormitorios
			.contanto__box__content
				.contacto__box__info__form
					.contacto__box__content__form
						.contacto__box__title
							.text_genral
								h2 ¡Escríbenos 
								h3 y te contactaremos!
						form(id="contactanos afiliate__form__validate")
							.contacto__form__box
								.contacto__box__select
								.general__input.general__input--select.general__input__icon--right
										.general__input__inside
											.general__input__ico.general__input__ico__right.icon-arrow-down
											select(name="", class="general__input__input", id="selectPlano")
												option(value="0") Seleciciona el plano
												option(value="1") Select1
												option(value="2") Select2
							.contacto__form__box
								.contacto__box__dos
									.contacto__box__nombre
										.general__input
											.general__input__inside
												input(type="text", placeholder="Nombres y Apellidos", class="validate[required] general__input__input")
									.contacto__box__telf
										.general__input
											.general__input__inside
												input(type="text", placeholder="Teléfono", class="validate[required] general__input__input")
							.contacto__form__box
								.general__input.general__input--white
									.general__input__inside
										input(type="text", placeholder="E-mail", class="validate[required] general__input__input")
							.contacto__form__box
								.contacto__box__input
									.general__input.general__input--textarea
											.general__input__inside
												textarea( class="validate[required] general__input__input",placeholder="Mensaje")
							.contacto__form__button
								button.btn__general__form(href='') ENVIAR
								
				.contacto__box__map
					.contacto__number__title
						img(src=`${STATIC_URL}img/numero-tittle.png`, alt="")
					ul.contacto__box__item__map
						li.contacto__item__map
							.contacto__item__img
								img(src=`${STATIC_URL}img/mapa-casa.png`, alt="")
							.contacto__item__title
								h2 S-01 - LOFT
							.contacto__item__descrip
								h2 DPTO. 2 DORMITORIOS
								h3 Área ocupada 300m2
						li.contacto__item__map
							.contacto__item__img
								img(src=`${STATIC_URL}img/mapa-casa.png`, alt="")
							.contacto__item__title
								h2 S-01 - LOFT
							.contacto__item__descrip
								h2 DPTO. 2 DORMITORIOS
								h3 Área ocupada 300m2
					.contacto__box__flechas
						.button__icon__flecha--prev.icon-flecha-left
						.button__icon__flecha--next.icon-flecha-right
	section.map__general__wrap
		.map__general__container
			.map__general__container__box
				.map__general__box
					#google-maplima.map
					a.btn__general.map__general--close--map(href='#')
						| Cerrar mapa
					
//- js
append scripts 
	script(src=`https://maps.googleapis.com/maps/api/js?key=${ GOOGLE_APIKEY }`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lightgallery.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-zoom.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-fullscreen.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-thumbnail.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lightgallery.js`)
	script(src=`${STATIC_URL}js/bxslider/jquery.bxslider.min.js`)
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			$('#selectPlano').change(function(e) {
				$('.contacto__box__item__map').slick('slickGoTo', this.value -1);
			})
				
			$('#aniimated__thumbnials').lightGallery({
				selector:'a'
			});

			$('#aniimated__thumbnials2').lightGallery({
				selector:'a'
			});
			//code here ------
			$('.banner__home__box').bxSlider({
					mode: 'fade',
					controls:false,
					nextText: '',
					auto:true,
					prevText: '',
					pager:true,
					auto:false,
					pause: 5000,
			});
			$('.detalles__box__slider').slick({
			  dots: true,
			  infinite: true,
			  speed: 300,
			  slidesToShow: 1,
			  adaptiveHeight: true
			});

			$('.contacto__box__item__map').slick({
				nextArrow: '.button__icon__flecha--next',
				prevArrow: '.button__icon__flecha--prev',
				dots: false,
				infinite: true,
				speed: 300,
				slidesToShow: 1,
				adaptiveHeight: true
			});
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false,
				validateNonVisibleFields: true
			});
			$("#afiliate__form__validate").submit(function(e) {
				var valid = $(this).validationEngine('validate');
				if (!valid){
					return false;
				}else{
					return true;
				};
			});
			function initMap() {
			  var $map = $( '#google-maplima' );
			  if ( ! $map.length ) return;
			  var myLatlng = new google.maps.LatLng(-12.086676, -77.051926,18); // <- Your latitude and longitude
				 var styles = [
				   {"featureType": "water","stylers": [{"color": "#eee"},{"visibility": "on"}]},
							{"featureType": "landscape","stylers": [{"color": "#f2f2f2"}]},
							{"featureType": "road","stylers": [{"saturation": -100},{"lightness": 45}]},
							{"featureType": "road.highway","stylers": [{"visibility": "simplified"}]},
							{"featureType": "road.arterial","elementType": "labels.icon","stylers": [{"visibility": "off"}]},
							{"featureType": "administrative","elementType": "labels.text.fill","stylers": [{"color": "#444444"}]},
							{"featureType": "transit","stylers": [{"visibility": "off"}]},
							{"featureType": "poi","stylers": [{"visibility": "off"}]}
					   ]

			var mapOptions = {
				zoom             : 15,
				center           : myLatlng,
				mapTypeControl   : true,
				disableDefaultUI : true,
				zoomControl      : true,
				scrollwheel      : false,
				styles           : styles,
				draggable        : true
			}
			var map = new google.maps.Map(document.getElementById('google-maplima'), mapOptions);

			var marker = new google.maps.Marker({
				position: myLatlng,
				map: map,
				icon:"./assets/img/placeholder.png"
			});
		}
		google.maps.event.addDomListener(window, 'load', initMap),
			$(".map__general--open--map").click(function(event) {
				event.preventDefault();
				$(".map__general__box").addClass('active');
			});
			$(".map__general--close--map").click(function(event) {
				event.preventDefault();
				$(".map__general__box").removeClass('active');
			});
		
		});