.error__content__wrapp
	height: 100vh
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	padding-left: 30px
	padding-right: 30px
.error__box__title
	h2
		font-size: 40px
		font-family: $t-3
		color: #012639
		text-align: center
.error__text
	padding-top: 60px
	padding-bottom: 60px
	p
		font-size: 18px
		font-family: $t-1
		color: $c-0
		max-width: 610px
		text-align: center
@media screen and (max-width: 550px)
	.error__box__title
		h2
			font-size: 25px
	
		