.banner__home__item
	background-repeat: repeat
	background-size: cover
	height: 647px
	width: 100%
	align-items: left
	justify-content: center
	background-position: center
	display: flex
	flex-direction: column
	position: relative
	&:before
		content: ""
		width: 100%
		height: 100%
		left: 0
		top: 0
		background-color: rgba(0, 0, 0, 0.25)
		position: absolute
		z-index: 2
.banner__slider
	.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto
		bottom: 0
		right: 0
		width: 40%
		text-align: left
		z-index: 55
		padding-left: 20px
		background-color: #ff5500
	.bx-wrapper .bx-pager
		padding-top: 0 !important
	.bx-pager-item
		padding-top: 20px
		padding-bottom: 20px
	.banner__slider .bx-wrapper .bx-pager
		background-color: #ff5500
	.bx-wrapper .bx-pager.bx-default-pager a
		background-color: #ff5500
		border: 1px solid white
		width: 10px
		height: 10px
		border-radius: 50%
	.bx-pager-link 
		&.active
			background-color: white !important

.banner__home__text
	max-width: 1006px
	margin: auto
	height: 100%
	padding-left: 30px
	padding-right: 30px
	display: flex
	flex-direction: column
	position: relative
	justify-content: center
	z-index: 2
	h3
		color: white
		font-size: 20px	
		text-align: left
		font-family: $t-0
		font-weight: bold
	h2
		font-size: 72px
		text-align: left
		color: white
		font-family: $t-0

// dormitorios
.dormitorios
	background-color: #f9f9f9
.dormitorios__wrap
	max-width: 1200px
	margin: auto
	padding-left: 30px
	padding-right: 30px
.dormitorios__text
	padding-top: 56px
	p
		font-size: 18px
		max-width: 650px
		line-height: 1.4
		font-family: $t-7
		color: #7e7e7e
		text-align: left
.dormitorios__box__content
	display: flex
	justify-content: space-between
	align-items: center
	padding-bottom: 70px
.dormitorios__number
	width: 12%
	h2
		font-size: 116px
		text-shadow: 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917
		margin: auto
		color: #fdf9f9
		font-family: $t-0
		font-weight: bold
.dormitorios__number--responsive
	h2
		font-size: 116px
		text-shadow: 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917
		margin: auto
		color: #fdf9f9
		font-family: $t-0
.dormitorios__text
	width: 58%
.dormitorios__count
	width: 23%
.text_genral	
	h2
		font-size: 42px
		text-align: left
		font-family: $t-0
		margin: auto
		color: #ec5917
	h3
		font-size: 42px
		font-family: $t-0
		text-align: left
		margin: auto
		color: #4a4a4a
.dormitorios__box__responsive
	display: flex
	align-items: center
.dormitorios__box__responsive
	display: none
// proyecto-distinto
.proyecto__distinto__cont
	display: flex
	padding-top: 56px
	padding-bottom: 69px
	justify-content: space-between
.proyecto__distinto__img
	height: 56px
	width: 56px
	img
		max-width: 100%	
		height: auto
.proyecto__distinto__content
	display: flex
	align-items: center
	width: 32%
.proyecto__distinto__content__text
	max-width: 203px
	padding-left: 12px
	h3
		font-size: 18px
		text-align: left
		margin: auto
		font-family: $t-1
		color: #7e7e7e
.proyecto__distinto__title
	display: flex
	width: 25%
.proyecto__distinto__contenedor
	width: 80%
.proyecto__distinto__contenedor
	display: flex
// establecimientos-principales
.establecimientos__principales
	background-color: #f9f9f9
.establecimiento__bgc__ubicacion
	background-repeat: repeat
	width: 100%
	height: 571px
	background-size: cover
	background-position: center
.establecimiento__box__info
	display: flex
.establecimientos__bgc
	width: 50%
.establecimiento__text__content__info
	max-width: 613px
	margin: auto
	padding-left: 30px
	padding-right: 30px
.establecimiento__text__info
	width: 50%
.establecimiento__texto__parrafo
	p
		font-size: 18px
		color: #7e7e7e
		font-family: $t-1
		margin: auto
.establecimiento__texto__parrafo
	padding-top: 17px

.establicimiento__img__item
	width: 150px
	height: 158px
	padding-top: 40px
	margin-right: 5%
	display: flex
	img
		max-width: 100%
		height: auto
		display: block
.establecimiento__img__principales
	display: flex
	flex-wrap: wrap
.establecimiento__bgc__ubicacion
	position: relative
.estacionamiento__button
	position: absolute
	right: 0
	bottom: 0
.establecimiento__text__tittle
	padding-top: 50px
// boton
.btn__general
	background-color: #ec5917
	display: inline-block
	padding-top: 15px
	padding-left: 32px
	padding-right: 25px
	padding-bottom: 15px
	h3 
		color: white
		font-family: $t-2
		margin: auto
		font-size: 16px
.establecimientos__button--responsive 
	display: none

// detalles-espacio
.detalles__espacio__numer
	padding-right: 25px
	h2
		font-size: 116px
		text-shadow: 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917
		margin: auto
		color: #fdf9f9
		font-family: $t-0
.detalles__espacio__title
	display: flex
	align-items: center
.detalles__espacio__content
	display: flex
	padding-top: 82px
	padding-bottom: 92px
.detalles__espacio__box__info
	width: 48%
	padding-left: 2%
	&:first-child
		padding-left: 0
.detalles__espacio__img
	background-size: cover
	background-repeat: repeat
	background-position: center
	display: block
.detalles__espacio__parrafos
	margin-bottom: 54px
.detalles__espacio__box__text
	padding-left: 147px
	font-size: 18px
	color: #7e7e7e
	font-family: $t-1
	padding-top: 20px
.dealles__espacio__box__text
	position: relative
	padding-bottom: 8px
	&:before
		content: ""
		width: 3px
		height: 3px
		position: absolute
		background-color: #7e7e7e
		left: -19px
		border-radius: 50%
		top: 9px
		margin: auto
.detalles__espacio--img1
	height: 302px
	margin-bottom: 29px
.detalles__espacio--img2
	height: 587px
.detalles__espacio--img3
	height: 381px
	margin-bottom: 27px
.detalles__espacio--img4
	height: 321px
	margin-bottom: 27px
.detalles__espacio--img5
	height: 601px
	margin-bottom: 27px
	position: relative
.detalles__gallery
	position: absolute
	right: 0
	bottom: 0
.detalles__box__item
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	height: 350px
	width: 50%
.detalles__box__slider
	display: none
.detalles__espacio__box__info--img
	display: block
.tours__virtual__icon
	width: 86px
	height: 86px
	padding-right: 32px
	img
		max-width: 100%
		width: inherit
		height: auto
		display: block
.tours__virtual__box
	display: flex
	align-items: center
.tours__virtual__content
	display: flex
	align-items: center
	justify-content: space-between
	padding-bottom: 87px
.tours__virtual__box__text
	text-align: left
	h3
		font-size: 32px
		color: #4a4a4a
		margin: auto
		font-family: $t-6
		padding-bottom: 12px
		font-weight: bold

.tours__virtual__item
	padding-right: 15px
	.tours__virtual__box__text
		span
			font-size: 18px
			margin: auto
			color: #4a4a4a
			font-family: $t-2
			position: relative
			&:before
				content: ">"
				right: -15px
				font-family: $t-2
				top: 0
				bottom: 0
				position: absolute
				margin: auto
				font-size: 15px
				color: #ec5917
	&:last-child
		padding-right: 0
.contanto__box__content
	display: flex
	position: relative
.contacto
	background-color: #f9f9f9
.contacto__box__info__form
	width: 50%
	background-color: #4a4a4a
	position: relative
	top: -45px
.contacto__box__map
	width: 50%
.contacto__box__map
	position: relative
.contacto__number__title
	position: absolute
	top: 0
	z-index: 5
.contacto__item__img
	max-width: 365px
	margin: auto
	img
		width: 100%
		height: auto
		display: block
.contacto__box__item__map
	padding-top: 65px
.contacto__item__title
	max-width: 365px
	margin: auto
	padding-top: 15px	
	h2
		font-size: 24px
		color: #4a4a4a
.contacto__number__title
	position: absolute
	top: -60
	left: 40px
	h2
		font-size: 116px
		text-shadow: 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917, 0 0 4px #ec5917
		margin: auto
		color: #fdf9f9
		font-family: $t-0

.contacto__item__descrip
	max-width: 365px
	margin: auto
.btn__general__form
	padding-top: 15px
	padding-left: 36px
	padding-right: 36px
	display: inline-block
	background-color: #ec5917
	padding-bottom: 15px
	border-radius: 4px
	h2
		margin: auto
		font-size: 16px
		color: white
		font-family: $t-2
button
	margin: auto
	font-size: 16px
	color: white
	font-family: $t-2
	border: none
	h2
		margin: auto
		font-size: 16px
		color: white
		font-family: $t-2
.contacto__form__button
	padding-bottom: 50px
	padding-top: 10px
.contacto__box__title
	.text_genral
		h2
			color: white
		h3
			color: white
.contacto__box__dos
	display: flex
.contacto__box__nombre
	width: 45%
.contacto__box__telf
	width: 50%
	padding-left: 5%
.contacto__box__content__form
	padding-top: 38px
	padding-left: 55px
	padding-right: 45px
.contacto__box__title
	padding-bottom: 44px
.contacto__form__box
	padding-bottom: 44px
.contacto__item__descrip
	h2
		font-size: 20px
		color: #4a4a4a
		font-family: $t-1
	h3
		font-size: 20px
		font-family: $t-2
		margin: auto
		color: #4a4a4a
.contacto__box__flechas
	max-width: 362px
	margin: auto
	display: flex
	padding-top: 22px
	.button__icon__flecha--prev
		padding-right: 20px
		font-size: 25px
		color: #7e7e7e
	.button__icon__flecha--next
		font-size: 25px
		color: #7e7e7e
.contato__title__responsive
	display: none
@media screen and (max-width: 1180px)
	.establicimiento__img__item
		margin-right: 0
		padding-top: 9px
		img
			width: 70%
@media screen and (max-width: 1024px)
	.establecimiento__box__info
		flex-direction: column
	.establecimientos__bgc
		width: 100%
	.establecimiento__text__content__info
		max-width: 100%	
		margin: auto
	.establecimiento__text__info
		width: 100%
	.establecimientos__bgc
		display: none
	.establecimientos__button--responsive 
		display: block
		text-align: center
		padding-bottom: 22px
	.detalles__espacio__numer 
		h2
			font-size: 100px
	.detalles__espacio__text
		.text_genral 
			h2
				font-size: 35px
			h3
				font-size: 35px
	.contacto__item__title
		justify-content: center
		padding-top: 10px

	.contacto__item__title
		text-align: center
	.contacto__item__descrip
		text-align: center
		h2
			padding-top: 10px
		h3
			padding-top: 10px
	.contato__title__responsive
		padding-top: 20px
	.tours__virtual__box__text
		padding-top: 10px
		padding-bottom: 20px
		text-align: center
	.tours__virtual__item
		width: 100%
	.tours__virtual__content
		align-items: center
		padding-top: 40px
		padding-bottom: 40px
		.tours__virtual__box__text
			h3
				font-size: 20px
	.establecimiento__img__principales
		justify-content: center
	.detalles__espacio__content
		padding-bottom: 0
	.contacto
		margin-top: 30px
@media screen and (max-width: 980px)
	.text_genral
		h2
			font-size: 25px
		h3
			font-size: 25px
	.banner__home__text
		h2
			font-size: 50px
	.contacto__box__flechas
		justify-content: center
	.dormitorios__box__responsive
		display: flex
	.dormitorios__box__content
		flex-direction: column
	.detalles__espacio__box__info
		width: 100%
	.dormitorios__number--responsive 
		h2
			font-size: 85px
	.dormitorios__text
		width: 100%
		padding-top: 20px
		p
			max-width: 100%
	.contanto__box__content
		flex-direction: column
	.contacto__box__info__form
		width: 100%
		order: 2
	.contacto__box__map
		width: 100%
		padding-bottom: 20px
	.contato__title__responsive
		display: flex
		padding-left: 40px
	.dormitorio__count__responsive
		h2
			font-size: 35px
		h3
			font-size: 35px
	.dormitorios__number
		display: none
	.dormitorios__count
		display: none 
	.dormitorios__box__content
		align-items: left
		padding-top: 50px
		padding-bottom: 50px
	.proyecto__distinto__cont
		flex-direction: column
	.proyecto__distinto__contenedor
		width: 100%
	.proyecto__distinto__title
		width: 100%
	.proyecto__distinto__content
		flex-direction: column
		width: 33%
	.proyecto__distinto__content__text
		padding-top: 10px
		h3
			font-size: 16px
	.contacto__box__info__form
		top: 0px
	.establecimiento__texto__parrafo
		p
			font-size: 16px
	.proyecto__distinto__contenedor
		padding-top: 20px
		padding-bottom: 20px
	.detalles__espacio__box
		display: none
	.detalles__espacio__box__info--img
		display: none
	.detalles__espacio__box__slider
		display: block
		a
			display: block
			width: 100%
	.detalles__box__slider
		display: block
	.detalles__espacio__box__text
		padding-left: 50px
	.detalles__espacio__text
		.text_genral
			h2
				font-size: 25px
			h3
				font-size: 25px
	.detalles__espacio__numer
		h2
			font-size: 60px
	.detalles__espacio__content
		padding-bottom: 0
	.establecimiento__img__principales
		justify-content: center
	.contacto__box__title
		.text_genral
			h2
				font-size: 35px
			h3
				font-size: 35px
	.contacto__box__dos
		flex-direction: column
	.contacto__box__nombre
		width: 100%
	.contacto__box__telf
		padding-left: 0
		width: 100%
		padding-top: 44px
	.contacto__number__title
		display: none
	.contacto
		.dormitorios__wrap
			padding-left: 0
			padding-right: 0
@media screen and (max-width: 780px)
	.tours__virtual__content
		flex-direction: column
//mapa

.map__general__wrap
	text-align: center
	
.general__button
	display: inline-block
	height: 40px
	line-height: 40px 
	padding: 0 20px 
	box-sizing: border-box
	background: red
	color: white

.map__general--close--map, .map__general--open--map
	display: none
	color: $blanco
	
.map__general--close--map
	position: absolute
	right: 0px
	top: 0px
		
.map__general__wrap
	position: relative
		
.map__general__box
	position: fixed
	top: -200%
	left: 0
	height: 100%
	width: 100%
	z-index: 2000
	transition: all .35s ease-in-out
	.map
		width: 100%
		height: 100%
	&.active
		top:  0

.map__general--close--map, .map__general--open--map
	display: inline-block
@media screen and (max-width: 550px)
	.banner__home__text 
		h2
			font-size: 28px
			text-align: center
		h3
			font-size: 18px
			text-align: center
	.banner__home__item
		height: 420px
	.dormitorios__number--responsive h2
		font-size: 60px
	.dormitorio__count__responsive
		.text_genral
			h2
				font-size: 25px
			h3
				font-size: 25px
	.dormitorios__text p
		font-size: 16px
	.proyecto__distinto__contenedor
		flex-direction: column
	.proyecto__distinto__content
		flex-direction: column
		width: 100%
		padding-bottom: 20px
		padding-top: 20px
		align-content: center
	.proyecto__distinto__content__text
		max-width: 100%
		padding-left: 0
		padding-top: 10px
		h3
			text-align: center
	.proyecto__distinto__title
		h2
			font-size: 25px
		h3
			font-size: 25px
	.detalles__espacio__box__text
		padding-left: 10px
	.detalles__espacio__numer
		padding-right: 12px
		h2
			font-size: 49px
	.detalles__espacio__text
		.text_genral
			h2
				font-size: 20px
			h3
				font-size: 20px
	.establecimiento__text__tittle
		.text_genral
			h2
				font-size: 20px
			h3
				font-size: 20px
	.proyecto__distinto__title
		.text_genral
			h2
				font-size: 20px
			h3
				font-size: 20px
	.contacto__item__img
		max-width: 295px
