.general__input
	.general__input__input
		width: 100%
		height: 50px
		line-height: 50px
		box-sizing: border-box
		border: none 
		margin: 0
		padding: 0
		border-radius: 0
		background: none 
		border-bottom: 1px solid white
		color: white
		font-size: 14px
		font-family: $t-1
		border-radius: 3px
		padding-left: 15px
		padding-right: 15px
		letter-spacing: 0.5px
	.general__input__input::placeholder
		color: white
		font-family: $t-1
		text-transform: uppercase
		letter-spacing: 1.05px
		font-size: 14px
	option
		color: $c-0
.general__input--white
	.general__input__title
		color: $blanco
	.general__input__input
		color: $blanco
		border-bottom: 1px solid $blanco
	.general__input__input::placeholder
		color: $blanco
	.general__input__ico
		color: $blanco
	option
		color: $c-1
	.general__input__button
		color: $blanco

.general__input--transparent
	.general__input__title
		color: $blanco
	.general__input__input
		color: $blanco
		border: 1px solid transparent
		background: rgba(255,255,255, .2)
		transition: all .15s linear
		&:focus
			border: 1px solid $blanco
	.general__input__input::placeholder
		color: $blanco
	.general__input__ico
		color: $blanco
	option
		color: $c-1
	.general__input__button
		color: $blanco

// textarea
.general__input--textarea
	.general__input__input
		height: 50px
		line-height: 1.1
		padding-top: 10px

// select
.general__input--select
	position: relative
	select
		padding-right: 35px
		-webkit-appearance: none
		-moz-appearance: none
		appearance: none
		cursor: pointer
		position: relative
		&::-ms-expand
			display: none

// with title

.general__input__title
	display: block
	cursor: auto
	font-size: 18px
	margin-bottom: 10px
	color: $c-0

.general__input--center
	text-align: center
	.general__input__title
		text-align: center
	.general__input__input
		text-align: center

// icons
.general__input__inside
	position: relative

.general__input__ico
	display: block
	position: absolute
	top: 0
	font-size: 20px
	line-height: 50px
	pointer-events: none
	z-index: 2
	color: white

.general__input__ico__left
	left: 10px
	
.general__input__ico__right
	right: 10px

.general__input__icon--left
	.general__input__input 
		padding-left: 45px
	
.general__input__icon--right
	.general__input__input 
		padding-right: 45px
	
.general__input__icon--all
	.general__input__input 
		padding-right: 35px
		padding-left: 35px

.general__input__button--right
	.general__input__button__right
		position: absolute
		top: 0
		right: 0
	.general__input__input
		padding-right: 50px


.general__input__button
	line-height: 50px
	border: none
	background: none
	padding: 0	
	padding: 0 15px
	box-sizing: border-box
	color: $c-0

.general__input__icon--right--type1
	.general__input__input
		padding-right: 56px
	.general__input__ico__right
		right: 0
		width: 50px
		text-align: center
		font-size: 20px
		color: $c-0
		background: rgba(154,178,191, .3)

// input file

.general__input__file
	position: relative 
	input[type="file"]
		display: none
	
.general__input__file__label
	display: block
	position: relative
	width: 100%
	height: 50px
	line-height: 50px
	box-sizing: border-box
	border: none
	border-radius: 0
	appearance: none
	margin-bottom: 0
	border: 1px solid $c-0
	border-radius: 3px
	padding: 0 20px
	overflow: hidden

.general__input__file__text
	color: $c-0
	font-family: $t-0
	font-size: 14px
	letter-spacing: 1.05px
	
.general__input__file__ico
	display: block
	position: absolute
	top: 0
	right: 0
	line-height: 50px
	pointer-events: none
	z-index: 2
	padding: 0 25px
	box-sizing: border-box
	background: rgba(154, 178, 191, 0.3)

.general__input__file__ico--text
	display: block
	font-size: 14px	
	font-family: $t-1
	color: $c-1
	text-transform: uppercase
	letter-spacing: 1.05px

.general__input__file__ico--ico
	display: none
	line-height: 50px	

@media screen and (max-width: 1024px)
	.general__input__file__ico--ico
		display: block	

	.general__input__file__ico--text
		display: none

	.general__input__file__ico
		padding: 0 18px

	.general__input__file__label
		padding-right: 65px

// checkbox radio
.general__input--check--radio
	input[type="checkbox"], input[type="radio"]
		display: none

.general__input--check--radio--label
	display: inline-block

.general__input__inside__container
	display: flex
	align-items: center 

.general__input__figure
	position: relative
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
	&:after
		content: ""
		position: absolute
		top: 0
		left: 0

.general__input__text
	font-size: 14px
	letter-spacing: 1px
	padding-left: 8px
	box-sizing: border-box
	color: $c-0

.general__input--radio
	.general__input__figure
		width: 15px
		height: 15px
		&:before
			width: 100%
			height: 100%
			border-radius: 100%
			border: 1px solid $c-0
			box-sizing: border-box
		&:after
			right: 0
			bottom: 0
			margin: auto
			width: 50%
			height: 50%
			border-radius: 100%
			background: $c-0
			opacity: 0
			visibility: hidden
			transition: all .2s linear

.general__input--check--radio
	input[type="radio"]:checked + .general__input--check--radio--label .general__input__figure:after
		opacity: 1
		visibility: visible

.general__input--checkbox
	.general__input__figure
		width: 15px
		height: 15px
		&:before
			width: 100%
			height: 100%
			border-radius: 2px
			border: 1px solid $c-0
			box-sizing: border-box
		&:after
			content: "\e902"
			font-family: $icomoon
			top: 50%
			transform: translateY(-50%)
			right: 0
			text-align: center
			margin: auto
			opacity: 0
			visibility: hidden
			font-size: 6px
			transition: all .2s linear

.general__input--check--radio
	input[type="checkbox"]:checked + .general__input--check--radio--label .general__input__figure:after
		opacity: 1
		visibility: visible


.general__input--checkbox--white
	.general__input__figure
		&:before
			border: 1px solid $blanco
		&:after
			color: $blanco
	.general__input__text
		color: $blanco

.general__input--radio--white
	.general__input__figure
		&:before
			border: 1px solid $blanco
		&:after
			background: $blanco
	.general__input__text
		color: $blanco

		
@media screen and (max-width: 1024px)
	.general__input
		.general__input__input
			height: 45px
			line-height: 45px
	
	.general__input__button
		line-height: 45px

	.general__input--textarea .general__input__input
		height: 80px	
		line-height: 1.1

	.general__input__title
		font-size: 16px

	.general__input__icon--right--type1 .general__input__ico__right
		line-height: 45px

	.general__input__file__label
		height: 45px
		line-height: 45px

	.general__input__file__ico
		line-height: 45px

	.general__input__file__ico--ico
		line-height: 45px

@media screen and (max-width: 767px)
	.general__input
		.general__input__input
			height: 40px
			line-height: 40px

	.general__input--textarea .general__input__input
		height: 80px	
		line-height: 1.1

	.general__input__button
		line-height: 40px

	.general__input__ico
		line-height: 40px

	.general__input__icon--right--type1 .general__input__ico__right
		line-height: 40px

	.general__input__title
		font-size: 14px

	.general__input
		.general__input__input::placeholder
			font-size: 13px

	.general__input__file__label
		line-height: 40px
		height: 40px

	.general__input__file__ico
		line-height: 40px

	.general__input__file__ico--ico
		line-height: 40px